#container1{
    height: 130vh;
    width: 100%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#container1>section{
    height: 90%;
    width: 30%;
    background-color: #E4C9E5;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container1>section>img{
    height: 15%;
    width: 50%;
    /* background-color: yellowgreen; */

}
#container1>section>article{
    height: 75%;
    width: 80%;
    background-color: #F8F6F8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#heading{
    height: 10%;
    width: 100%;
    /* background-color: yellowgreen; */
    color: #666566;
    font-size: 1.2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
}
#heading2{
    height: 10%;
    width: 75%;
    background-color: #E5F0FB;
    border-radius: 15px;
    font-size: 1rem;
    text-align: center;
    color: #666566;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details{
    height: 15%;
    width: 95%;
    /* background-color: rgb(144, 144, 189); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#details>*{
    border: 3px solid #9A989A;
    border-radius: 15px;
    text-align: center;
    background-color: #EDEBED;
}
.inp1{
    height: 50%;
    width: 23%;
    /* background-color: navy; */
    font-size: inherit;
}
#inp{
    height: 50%;
    width: 48%;
    /* background-color: rgb(61, 61, 99); */
    font-size: inherit;
    color: #666566;
}

#addon{
    height: 7%;
    width: 90%;
    /* background-color: teal; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#addon>img{
    height: 80%;
    width: 9%;
    background-color: maroon;
    border-radius: inherit;
}
#addon>section{
    height: 80%;
    width: 80%;
    /* background-color: mediumaquamarine; */
    color: #666566;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#famPhoto{
    height: 8%;
    width: 75%;
    background-color: #E0EEFC;
    display: flex;
    border-radius: 25px;
    text-decoration: none;
}
#famPhoto>img{
    height: 100%;
    width: 20%;
    border-radius: inherit;
}
#famPhoto>section{
    height: 100%;
    width: 80%;
    /* background-color: rgb(117, 10, 28); */
    color: #666566;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
    
}

#preview{
    height: 35%;
    width: 100%;
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview>img{
    height: 90%;
    width: 85%;
}
#container1>section>article>button{
    height: 10%;
    width: 82%;
    background-color: #FEB06A;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
    cursor:pointer;
}


#newcont1{
    height: 20%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#newcont1>div{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#newcont1>div>*{
    border: 3px solid #9A989A;
    border-radius: 15px;
    text-align: center;
    background-color: #EDEBED;
}
.newinp1{
    height: 90%;
    width: 23%;
    font-size: inherit;
    color: #666566;
}
#newinp{
    height: 90%;
    width: 48%;
    font-size: inherit;
    color: #666566;
}